$desktop_layout_width: 1920;
$mobile_layout_width: 768;

@function d-vw($target) {
    $vw-context: ($desktop_layout_width*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

@function m-vw($target) {
    $vw-context: ($mobile_layout_width*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}
