@import "common";
.logo_box {
    width: d-vw(92px);
    top: d-vw(18px);
    img {
        width: 100%;
    }
}

header {
    width: 100%;
    height: d-vw(90px);
    position: fixed;
    background-color: #fff;
    z-index: 999;
    nav {
        width: d-vw(1200px);
        height: 100%;
        margin: 0 auto;
    }
    ul {
        float: right;
    }
    li {
        float: left;
        line-height: d-vw(90px);
        font-size: d-vw(24px);
        margin-right: d-vw(30px);
    }
    li:last-child {
        margin-right: 0;
    }
    a {
        color: #777;
        text-decoration: none;
    }
    a:hover {
        color: #4fc1ba;
    }
    .router-link-exact-active {
        color: #4fc1ba;
    }
}